{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription à l'anniversaire</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h2 class="logo">Anniversaire</h2>
        <nav class="navigation">
            <button class="bthLogin-popup">S'inscrire</button>
        </nav>
    </header>
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box register">
            <h2>Inscription</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    {{ form.nom }}
                    <label>Nom</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    {{ form.email }}
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="chatbox"></ion-icon>
                    </span>
                    {{ form.message }}
                    <label>Message</label>
                </div>
                <button type="submit" class="bth">S'inscrire</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>